# PostgreSQL
# Used by docker-compose.yml. Will also be consumed by the application
# in a future change once SQLModel is wired up.
POSTGRES_USER=aipybrary
POSTGRES_PASSWORD=changeme
POSTGRES_DB=aipybrary
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
